<title>Employees</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hi Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jobs</a>
                </li>

            </ul>
            <form class="d-flex">
                <div class="input-group">
                    <input type="search" class="form-control form-control-sm" placeholder="Search.." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-sm btn-success" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-3">
            <div class="list-group">

                <a href="#" class="list-group-item active">
                    View Employees
                </a>
                <a routerLink="/create" class="list-group-item">
                    Add Employee
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <table class="table-bordered table">
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Organisation</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr *ngFor=" let employee of employeeList ">

                    <td>
                        {{employee.name}}
                    </td>
                    <td>
                        {{employee.address}}
                    </td>
                    <td>
                        {{employee.organisation}}
                    </td>
                    <td>
                        <a href="# " class="btn btn-sm btn-info ">Edit</a>
                    </td>
                    <td>
                        <button href="# " class="btn btn-sm btn-info ">Delete</button>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>