<title>Employees</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hi Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jobs</a>
                </li>

            </ul>
            <form class="d-flex">
                <div class="input-group">
                    <input type="search" class="form-control form-control-sm" placeholder="Search.." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-sm btn-success" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-3">
            <div class="list-group">
                <a href="/employees" class="list-group-item">
                    View Employees
                </a>
                <a href="/create" class="list-group-item active">
                    Add Employee
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3 form-group">
                    <input type="text" formControlName="Name" class="form-control form-control-sm" placeholder="Enter Employee name" required>
                </div>
                <div class="mb-3 form-group">
                    <input type="text" formControlName="Address" class="form-control form-control-sm" placeholder="Enter Country" required>
                </div>
                <div class="mb-3 form-group">
                    <input type="text" formControlName="Organisation" class="form-control form-control-sm" placeholder="Enter Organization name" required>
                </div>
                <div class="mb-3 form-group">
                    <button class="btn btn-success btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>